<!DOCTYPE html>
<html>

<head>
    <title>NY Employee IR System</title>
</head>

<body>
    <p><a href="/"><img alt="" src="https://drive.google.com/uc?export=view&amp;id=1ywloirByY8J1qDJYfqtsog9MSk2ixH0c"
                style="height:300px; width:1520px" /> </a></p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/view_index"><img alt=""
                src="https://drive.google.com/uc?export=view&amp;id=1U6jA0IJOwho440_RC3COiNgJmP3ONy5f"
                style="height:200px; width:300px" /></a>&nbsp; &nbsp; &nbsp; &nbsp; <a href="/find_emp"><img alt=""
                src="https://drive.google.com/uc?export=view&amp;id=1bptIrIiBjXgBfgLC86E82vFY8rKhd9RG"
                style="height:200px; width:300px" /></a>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <a
            href="/find_emp_by_borough_index"><img alt=""
                src="https://drive.google.com/uc?export=view&amp;id=1tDox-lxsciANAq9jTKPlNv3GMpdxwlfh"
                style="height:200px; width:300px" /></a>&nbsp; &nbsp; &nbsp; &nbsp; <a href="/top_earners"><img alt=""
                src="https://drive.google.com/uc?export=view&amp;id=1NSEu_Wvpz2k-XUkSOJgiCx0iJgvQ8xUG"
                style="height:200px; width:300px" /></a>&nbsp;&nbsp;&nbsp;</p>


</body>

</html>