<!DOCTYPE html>
<html>

<head>
    <title>Top 5 Earners by year</title>
</head>

<body>

    <h2>Filter by Year </h2>
    <form action="/top_earners_filter" method="post">
        <p>Please select your Fiscal Year:</p>
        <input type="radio" id="2014" name="year" value="2014">
        <label for="2014">2014</label>

        <input type="radio" id="2015" name="year" value="2015">
        <label for="2015">2015</label>

        <input type="radio" id="2016" name="year" value="2016">
        <label for="2016">2016</label>

        <input type="radio" id="2017" name="year" value="2017">
        <label for="2017">2017</label>

        <input type="radio" id="2018" name="year" value="2018">
        <label for="2018">2018</label>

        <input type="radio" id="2019" name="year" value="2019">
        <label for="2019">2019</label>

        <input type="radio" id="2020" name="year" value="2020">
        <label for="2020">2020</label>

        <input type="radio" id="2021" name="year" value="2021">
        <label for="2021">2021</label>

        <input type="radio" id="2022" name="year" value="2022">
        <label for="2022">2022</label>
        <br><br>
        <input type="submit" value="Submit">
    </form>

<br><br><a href="/">Go back to home page</a>
</body>

</html>