<!DOCTYPE html>
<html>

<head>
    <title>Find Employee</title>
</head>

<body>
    <h2>Filter Employee by Borough </h2>
    <form action="/borough_filter_borough" method="post">
        <p>Please select your Borough:</p>
        <input type="radio" id="MANHATTAN" name="borough" value="MANHATTAN">
        <label for="MANHATTAN">MANHATTAN</label>
        <input type="radio" id="BRONX" name="borough" value="BRONX">
        <label for="BRONX">BRONX</label>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>