<!DOCTYPE html>
<html>
<head>
    <title>List</title>
</head>
<body>

<h3>Employee Information</h3>
<table border=5>
    <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Borough</td>
        <td>Base Salary</td>
    </thead>

    {% for row in rows %}
        <tr>
            <td>{{row["employee_id"]}}</td>
            <td>{{row["employee_name"]}}</td>
            <td>{{row["work_location_borough"]}}</td>
            <td>{{row["base_salary_USD"]}}</td>
        </tr>

    {% endfor %}
</table>
<br><br>

<a href="/">Go back to home page</a>

</body>
</html>